<div class="main-content" >
    <div class="container-fluid" style="align:center;">
        <div class="row">
            <div class="card" style="margin-left:10%; margin-right:10%; ">
                <h4 class="title" style="margin-left: 15px; padding-top:10px;"> DERS EKLE </h4><hr>
                <table class="table table-hover table-striped">

                        
                            <tr>ID
							<input type="text" #annotation class="form-control" style="width:70%;" placeholder="ID Ekle">
                            </tr>
							<tr> </tr>
                            <tr>Ders Kodu
							<input type="text" #annotation class="form-control" style="width:70%;" placeholder="Ders kodu Ekle"></tr>
							<tr> </tr>
                            <tr>Ders İsmİ
							<input type="text" #annotation class="form-control" style="width:70%;" placeholder="Ders İsmi Ekle"></tr>
							<tr> </tr>
                            <td><button class="btn btn-default" type="button" style="height:40px; width:90px;background-color:#6495ED"><b style="color:white">KAYDET</b></button></td>
                     
                        <tbody>

                        
                        </tbody>
                    </table>
               </div>
        </div>
    </div>
</div>
