<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.hacettepe.edu.tr/">
                        Hacettepe Üniversitesi
                    </a>
                </li>
                <li>
                    <a href="http://www.oid.hacettepe.edu.tr/bilsis2/">
                        BİLSİS Hacettepe
                    </a>
                </li>
                <li>
                    <a href="http://www.mat.hacettepe.edu.tr/">
                        Matematik Bölümü
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
