<div class="main-content" >
    <div class="container-fluid" style="align:center;">
        <div class="row">
            <div class="card" style="margin-left:10%; margin-right:10%; ">
                <h4 class="title" style="margin-left: 15px; padding-top:10px;"> OGRETMEN EKLE </h4><hr>
                <table class="table table-hover table-striped">

                        
                            <tr>Ad
							<input type="text" #annotation class="form-control" style="width:70%;" placeholder="Ad Ekle">
                            </tr>
							<tr> </tr>
                            <tr>Soyad
							<input type="text" #annotation class="form-control" style="width:70%;" placeholder="Soyad Ekle">
                            </tr>
							<tr>Mail Adresi</tr>
                            <tr>
							<input type="text" #annotation class="form-control" style="width:70%;" placeholder="Mail Adresi Ekle">
                            </tr>
							<tr> </tr>
                            <tr>Sifre
                            <input type="text" #annotation class="form-control" style="width:70%;" placeholder="Sifre Ekle">
                            </tr>
                    <tr> </tr>
                            <td><button class="btn btn-default" type="button"  style="height:40px; width:90px;background-color:#6495ED"><b style="color:white">KAYDET</b></button></td>
                     
                        <tbody>

                        
                        </tbody>
                    </table>
               </div>
        </div>
    </div>
</div>
